templates/import-workflow-credentials.json
{
  "name": "backup-v2",
  "nodes": [
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [448, 688],
      "id": "82ba3e5b-c09a-403b-8533-b8369377ecf3",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1600, 832],
      "id": "b807cebd-f1ec-4ff3-95b8-13ae9728d620",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "name": "={{ $('Loop Over Items').item.json.name }}.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('CreateFolderWorkflows').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [672, 688],
      "id": "a20ccb24-8d91-44cc-81e8-e1f94c42764f",
      "name": "UploadDrive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vc8mnCvZSj0TSAmn",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [192, 688],
      "id": "1ec79f44-9169-4c08-8154-ebaaa075fdf8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## Backup toàn bộ workflow, credentials vào 1 file json all-{date}.json\n- Thuận tiện cho việc chuyển toàn bộ từ n8n này sang n8n khác",
        "height": 240,
        "width": 1640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-816, 880],
      "typeVersion": 1,
      "id": "aea29c60-8ba4-43e9-9dca-e83e564bd816",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Backup riêng lẻ từng workflow\n- Tạo thành từng file workflow riêng lẻ và lưu trong trong thư mục workflows",
        "height": 260,
        "width": 1640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-816, 608],
      "typeVersion": 1,
      "id": "f7b13423-9f81-4e8b-b20c-8d4e66396ed7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Backup all credentials\n- Tạo thành 1 file credentials-{date}.json",
        "height": 240,
        "width": 1640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-816, 1152],
      "typeVersion": 1,
      "id": "95c47d1e-ce0e-4564-b7c7-1441886b5df9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-backup-credentials.backupCredential",
      "typeVersion": 1,
      "position": [-768, 960],
      "id": "0a78d193-59c0-4463-88f9-616c8409c4cf",
      "name": "Backup Credential"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Tải lên thành công !",
        "completionMessage": "=Bạn đã tải lên file import thành công, hệ thống sẽ tự động import và thông báo sau khi hoàn thành ! ",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [-1520, 1584],
      "id": "d7bdc46b-12f3-40a3-91a7-c912ce6fdb30",
      "name": "Form",
      "webhookId": "760e50fa-5487-4747-ad40-f3678161a358"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "File___json",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-1056, 1584],
      "id": "eababa1d-b8be-4dfc-901a-6f87caf1e36c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "64147178-2b4f-4d0c-8d7a-aa4517d80c23",
              "leftValue": "={{ $('data').first().json['Ghi đè'] }}",
              "rightValue": "Không",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-608, 1920],
      "id": "ead0c109-b6d2-4f1b-93e1-3286b26f53ad",
      "name": "If2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('type').first().json.type }}",
                    "rightValue": "workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "20f18328-de46-42bd-ad12-0daf34ec844c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Workflows"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ddb3a508-40fe-4f0d-9aa8-b2b9355e3cd5",
                    "leftValue": "={{ $('type').first().json.type }}",
                    "rightValue": "credential",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Credentials"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [112, 1920],
      "id": "bd9551ce-a45e-4abe-bcc5-1e369d58cfdb",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "restoreCredentials"
      },
      "type": "n8n-nodes-backup-credentials.backupCredential",
      "typeVersion": 1,
      "position": [400, 2000],
      "id": "f404481e-b2d9-47c2-912c-e0d1072fc0ed",
      "name": "Restore Credentials"
    },
    {
      "parameters": {
        "operation": "restoreWorkflows"
      },
      "type": "n8n-nodes-backup-credentials.backupCredential",
      "typeVersion": 1,
      "position": [400, 1840],
      "id": "dfb2b117-1596-4584-b256-2c7a1e387571",
      "name": "Restore Workflows"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [656, 1920],
      "id": "74db9ac7-75b4-4f7c-b6b5-b27aa135a6c5",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-832, 1920],
      "id": "ccad2560-f56a-4e98-95b9-e0e7aa090676",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [-160, 1920],
      "id": "07f6ea73-ea42-4abe-bc2a-4de9e472964c",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "formTitle": "Khôi phục Workflows, Credentials ",
        "formDescription": "Form hỗ trợ import Workflows, Credentials từ file export.\n\nGhi chú:\n- Hỗ trợ import nhiều file cùng lúc\n- Chọn Ghi đè thì hệ thống sẽ ghi đè Workflows, Credentials có cùng ID\n- Nếu chọn \"không\" hệ thống sẽ import thành Workflows, Credentials mới",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File *.json",
              "fieldType": "file",
              "acceptFileTypes": ".json",
              "requiredField": true
            },
            {
              "fieldLabel": "Ghi đè",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Có"
                  },
                  {
                    "option": "Không"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n\n.form-header p {\n  text-align: left;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [-1760, 1584],
      "id": "f8eb7f1e-ff2b-4f5f-89fe-01775d635a2c",
      "name": "Form import Workflows/Credentials",
      "webhookId": "114c7304-09a8-4036-b3bd-dc3239b15576"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65ee94cd-022d-4f66-8aba-80e9a1aec190",
              "name": "type",
              "value": "={{ $json.data[0].nodes ? 'workflow' : 'credential' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1072, 1920],
      "id": "b4fa1c78-8327-4c85-b773-2af24e62f969",
      "name": "type"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1296, 1584],
      "id": "fc2fe997-d81b-4a4f-b566-2bc7e68f5ab0",
      "name": "data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "519634ba-80c6-4593-99ac-1b6551f1695d",
              "name": "id",
              "value": "={{ $json.id.split('')\n    .sort(() => Math.random() - 0.5)\n    .join('') }}",
              "type": "string"
            },
            {
              "id": "4b20db54-4b05-4753-9647-866b6708a795",
              "name": "name",
              "value": "={{ $json.name }} - {{ $json.id.split('')\n    .sort(() => Math.random() - 0.5)\n    .join('') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-368, 1840],
      "id": "7f1202b6-148d-4f53-b119-841c40d4dc65",
      "name": "Edit Fields",
      "notesInFlow": true,
      "notes": "Thay đổi thông tin name và id cũ để không ghi đè"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6105bc7-a38d-47a9-9321-258abe01d2db",
              "name": "data",
              "value": "={{ Array.isArray($json.data) ? $json.data : [$json.data] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1296, 1920],
      "id": "599c028c-4965-4900-bbef-c6ecf9099906",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "wf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-320, 688],
      "id": "322a805d-a55c-44da-aecb-da40ae9b50c4",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "wf",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-80, 688],
      "id": "76dc4c52-94d8-47d3-9af9-a19edf08ed67",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "operation": "backupWorkflows"
      },
      "type": "n8n-nodes-backup-credentials.backupCredential",
      "typeVersion": 1,
      "position": [-528, 688],
      "id": "25b16212-5e20-4206-bb24-402bfb20cee5",
      "name": "Backup Workflows"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-1520, 1920],
      "id": "ef0b0abd-bec1-4faa-9227-deffeab5f2cb",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-368, 2000],
      "id": "d755bfd2-4c2f-4afd-95dc-b5ff497a7230",
      "name": "next"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "cr",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-528, 960],
      "id": "cd5938f2-1e2a-4064-a972-622cd71c062c",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [-80, 944],
      "id": "5df6f0a8-1470-4653-8844-235f3842ad48",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [192, 944],
      "id": "3c2380db-809b-4a3c-bc96-dd84861ee4a5",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "jsCode": "\nreturn [{data: $input.first().json.data.wf},{data: $input.first().json.data.cr}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-592, 1504],
      "id": "82f46d29-0fef-4e2f-9162-5bf997fb6d1f",
      "name": "Code2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [-400, 1584],
      "id": "fbe3e41a-2ee4-4bf8-91be-e8f61bc441a3",
      "name": "Merge3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6dcf2e7-c52b-4069-b27c-f8b7312c47bc",
              "leftValue": "={{ $json.data.wf }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-832, 1584],
      "id": "b524f1a1-fe50-4781-876f-c6d9b20fe703",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-176, 1584],
      "id": "f1c6f2e3-70ba-4780-992d-8c0028e0f44e",
      "name": "continue"
    },
    {
      "parameters": {
        "name": "=all-{{ $('config').first().json.date }}.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('NewFolderBackup').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [448, 944],
      "id": "0da31996-45c3-4a2f-85aa-895453725dbc",
      "name": "Upload File Backup All",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vc8mnCvZSj0TSAmn",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Backup all workflows\n- Tạo thành 1 file workflows-{date}.json",
        "height": 240,
        "width": 1640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-816, 352],
      "typeVersion": 1,
      "id": "40ebd682-05ce-4b6f-923b-5cf7fe4afb73",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "name": "=workflows-{{ $('config').first().json.date }}.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('NewFolderBackup').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-320, 400],
      "id": "e6a546d5-ea1d-4e32-ae83-1bd3d5ad600d",
      "name": "Upload File Backup Workflows",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vc8mnCvZSj0TSAmn",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "=credentials-{{ $('config').first().json.date }}.json",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('NewFolderBackup').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-528, 1232],
      "id": "d8905680-908f-4345-9401-014f769b85a1",
      "name": "Upload File Backup Credentials",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vc8mnCvZSj0TSAmn",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9436aeb5-dd5b-4dc3-bfec-80ca015657bb",
              "name": "date",
              "value": "={{ $now.format('yyyy-MM-dd-HH-mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1376, 832],
      "id": "a198325b-f555-4e5e-af89-66618fb29ce1",
      "name": "config"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "workflows",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('NewFolderBackup').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-768, 688],
      "id": "57d3bb60-dc71-4450-96a0-1e5ed5f9b917",
      "name": "CreateFolderWorkflows",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vc8mnCvZSj0TSAmn",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('config').first().json.date }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1mJFDvlQUeE_0_zO7R6ESwb_5HaJNteEQ",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-1136, 832],
      "id": "cecf9883-5ddb-49f0-a6ed-47cec5fc0c8b",
      "name": "NewFolderBackup",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vc8mnCvZSj0TSAmn",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "# Restore backup\n- Restore previously backed-up credentials from a file.\n- Khôi phục các thông tin đăng nhập đã sao lưu trước đó từ tệp tin.",
        "height": 700,
        "width": 2660,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-1792, 1472],
      "typeVersion": 1,
      "id": "1f021dfe-e19a-4bf6-b418-009e4fe86434",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Backup workflow\n- Create a backup of all existing workflows/credentials and upload it to your Drive.\n- Tạo bản sao lưu của tất cả workflow/credential hiện có và tải lên Drive của bạn.",
        "height": 1160,
        "width": 2660,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-1792, 240],
      "typeVersion": 1,
      "id": "981c8dd2-46f6-4ea8-a255-9b635b14f739",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-592, 1648],
      "id": "f3a708e3-8b67-43b4-8471-0bbd4684d696",
      "name": "next1"
    }
  ],
  "pinData": {},
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "UploadDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadDrive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup Credential": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload File Backup Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "next",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Restore Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Restore Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Credentials": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Restore Workflows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form import Workflows/Credentials": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "type": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup Workflows": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload File Backup Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "next": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Upload File Backup All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "next1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "continue": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "NewFolderBackup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateFolderWorkflows": {
      "main": [
        [
          {
            "node": "Backup Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewFolderBackup": {
      "main": [
        [
          {
            "node": "Backup Credential",
            "type": "main",
            "index": 0
          },
          {
            "node": "CreateFolderWorkflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "next1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44a9fbb4-6d30-46ad-b30c-4db3f7a7094b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f03dd7d9c390c21f2f6c1fcef602cbb70a6d3f88b1e7722773b012d0c9a14265"
  },
  "id": "v2YFF2Er1ZrOCbQj",
  "tags": []
}
